<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="My Test Suite">
    <listeners>
        <listener class-name="com.fmzm.extentreporting.extentreport.ExtentTestNGListener" />
    </listeners>

    <test name="Test 1">
        <classes>
            <class name="com.fmzm.extentreporting.extentreport.MainPageTest" />
        </classes>
    </test>
</suite>
